@import url(https://fonts.googleapis.com/css?family=Rubik:300,regular,500,600,700,800,900,300italic,italic,500italic,600italic,700italic,800italic,900italic);
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

img {
  max-width: 100%;
}

button {
  font-family: Rubik, sans-serif;
  border: none;
  outline: none;
}

body {
  font-family: Rubik, sans-serif;
  background-color: #0f1424;
  color: white;
}

.container {
  width: min(90%, 110rem);
  margin-inline: auto;
  min-height: 100vh;
  display: grid;
  place-items: center;
}

.dash {
  display: grid;
  row-gap: 2.5rem;
  margin: 4rem 0;
}

.dash__user {
  background-color: #1c1f4a;
  border-radius: 2rem;
}
.dash__user .user-section {
  border-radius: 2rem;
  background-color: #5847eb;
  display: flex;
  align-items: center;
  gap: 2rem;
  padding: 2.5rem 3rem;
}
.dash__user .user-section .user-image {
  height: auto;
  width: 6.5rem;
  border: 0.3rem solid white;
  border-radius: 50%;
}
.dash__user .user-section .user-name {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}
.dash__user .user-section .user-name p {
  font-size: 2.4rem;
  font-weight: 300;
}
.dash__user .user-section .user-name p:first-of-type {
  color: #bdc1ff;
  font-size: 1.4rem;
}
.dash__user .time-select {
  display: flex;
  justify-content: space-around;
  padding: 2rem 0;
}
.dash__user .time-select button {
  font-size: 1.6rem;
  font-weight: 400;
  background-color: transparent;
  color: #bdc1ff;
  cursor: pointer;
  transition: color 0.2s ease-in-out;
}
.dash__user .time-select button:hover {
  color: white;
}

.dash-card {
  display: flex;
  flex-direction: column;
  background-color: #ff8c66;
  border-radius: 2rem;
}
.dash-card__banner {
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
  background-color: #ff8c66;
  display: grid;
  place-items: start end;
  height: 5rem;
  overflow: hidden;
}
.dash-card__banner img {
  transform: translate(-2rem, -1rem);
}
.dash-card__content {
  background-color: #1c1f4a;
  border-radius: 1.7rem;
  display: flex;
  flex-direction: column;
  padding: 3rem 2.5rem;
  gap: 1rem;
  cursor: pointer;
  transition: background-color 0.2s ease-out;
}
.dash-card__content:hover {
  background-color: #34397b;
}
.dash-card__content .card-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.5rem;
}
.dash-card__content .card-title img {
  cursor: pointer;
  transition: filter 0.1s ease-in-out;
}
.dash-card__content .card-title img:hover {
  filter: brightness(2);
}
.dash-card__content .card-hours {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.dash-card__content .card-hours p {
  font-size: 1.4rem;
  color: #bdc1ff;
}
.dash-card__content .card-hours p:first-of-type {
  font-size: 2.4rem;
  font-weight: 300;
  color: white;
}

.play {
  background-color: #56c2e6;
}
.play .dash-card__banner {
  background-color: #56c2e6;
}

.study {
  background-color: #ff5c7c;
}
.study .dash-card__banner {
  background-color: #ff5c7c;
}

.exercise {
  background-color: #4acf81;
}
.exercise .dash-card__banner {
  background-color: #4acf81;
}

.social {
  background-color: #7536d3;
}
.social .dash-card__banner {
  background-color: #7536d3;
}

.self-care {
  background-color: #f1c65b;
}
.self-care .dash-card__banner {
  background-color: #f1c65b;
}

@media screen and (min-width: 1100px) {
  .dash {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 3.5rem;
  }

  .dash__user {
    grid-row: 1/span 2;
  }

  .dash-card__content {
    gap: 3rem;
  }
  .dash-card__content .card-hours {
    flex-direction: column;
    gap: 1rem;
    align-items: flex-start;
  }
  .dash-card__content .card-hours p:first-of-type {
    font-size: 4.5rem;
  }

  .dash__user .user-section {
    flex-direction: column;
    align-items: flex-start;
    gap: 3rem;
  }
  .dash__user .user-section .user-image {
    width: 8rem;
  }
  .dash__user .user-section .user-name {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    margin-bottom: 9rem;
  }
  .dash__user .user-section .user-name p {
    font-size: 4rem;
  }
  .dash__user .time-select {
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;
    padding: 2rem 3rem;
  }
}/*# sourceMappingURL=main.css.map */